.example-header-image {
    background-image: url('https://img.icons8.com/dusk/512/name.png');
    background-size: cover;
}
.img_registro{
    background-image: url("https://img.icons8.com/color/512/signing-a-document.png");
    background-size: cover;
}
